---

---
<div class="header container-fluid row align-items-center justify-content-between">
    <div class="logo col-auto">
        <img id="light-logo" class="show" src="src/assets/images/genesis-logo-light.png" alt="Genesis Holland Photography Logo"/>
        <img id="dark-logo" src="src/assets/images/genesis-logo-dark.png" alt="Genesis Holland Photography Logo"/>
    </div>
    <div class="hamburger-menu col-auto">
        <svg class="hamburger-icon">
            <line x1="0" y1="50%" x2="100%" y2="50%" class="top" shape-rendering="crispEdges" />
            <line x1="0" y1="50%" x2="100%" y2="50%" class="middle" shape-rendering="crispEdges" />
            <line x1="0" y1="50%" x2="100%" y2="50%" class="bottom" shape-rendering="crispEdges" />
        </svg>
    </div>
</div>

<!--Site Menu Overlay -->
<div id="menu" class="container-fluid">
    <div class="nav-container">
        <ul class="nav flex-column align-cener">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Me</a>
            </li>
          </ul>
    </div>
</div>
<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        height: 130px;
        padding: 0 4%;
    }
    .logo {
        position: relative;
        transition: opacity ease .3s;
        width: 175px;
        height: 100%;
    }
    .logo img {
        width: 175px;
        height: auto;
        visibility: hidden;
        position: absolute;
        top: 1rem;
        left: 0;
        opacity: 0;
    }
    .logo .show {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s;
    }
    .hamburger-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transform: scaleX(-1);
    }

    .hamburger-icon line {
        stroke: var(--primary-light);
        stroke-dasharray: 100%;
        stroke-dashoffset: 0%;
        transition: transform 0.3s, stroke-dashoffset .4s, stroke .3s;
        transform-origin: center;
        stroke-width: 3px;
    }

    .hamburger-icon .top {
        transform: translateY(-35%);
        -webkit-transform: translateY(-35%);
        -moz-transform: translateY(35%);
        -ms-transform: translateY(35%);
        -o-transform: translateY(35%);
    }

    .hamburger-icon .middle {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transition: opacity .3s, transform .3s;
        -webkit-transition: opacity .3s, transform .3s;
        -moz-transition: opacity .3s, transform .3s;
        -ms-transition: opacity .3s, transform .3s;
        -o-transition: opacity .3s, transform .3s;

    }

    .hamburger-icon .bottom {
        transform: translateY(33%);
        -webkit-transform: translateY(33%);
        -moz-transform: translateY(33%);
        -ms-transform: translateY(33%);
        -o-transform: translateY(33%);
        stroke-dasharray: 100%;
        stroke-dashoffset: 9px;
    }
    .hamburger-icon:hover .bottom {
        stroke-dashoffset: 0%;
    }
    /*** Mode Croix ***/
    .hamburger-menu.menu-open line {
        stroke: var(--primary-dark);
    }
    .hamburger-menu.menu-open .hamburger-icon .top {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        stroke-linecap: round;
    }

    .hamburger-menu.menu-open .hamburger-icon .middle {
        transform: scaleX(0.1);
        -webkit-transform: scaleX(0.1);
        -moz-transform: scaleX(0.1);
        -ms-transform: scaleX(0.1);
        -o-transform: scaleX(0.1);
        opacity: 0;
    }

    .hamburger-menu.menu-open .hamburger-icon line.bottom {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        stroke-linecap: round;
    }

    .hamburger-menu.menu-open .hamburger-icon .bottom {
        stroke-dashoffset: 0%;
    }

    /* Site Menu Styles */
    #menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        height: 100%;
        background: var(--primary-light);
        display: none;
        padding-top: 130px;
    }
    .nav-container {
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
    }
    .nav-container > .nav {
        align-items: center;
        gap: 1.5rem;
    }
    .nav-container > .nav a {
        font-family: 'Muli';
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: var(--primary-dark);
        letter-spacing: .3rem;
        background: linear-gradient(to right, var(--primary-dark) 0%, var(--primary-dark) 100%) 0px 95% / 0px 1px no-repeat;
        transition: ease .2s;
    }
    .nav-container > .nav a:hover {
        background-size: 100% 1px;
    }

</style>
<script is:inline>
    document.addEventListener("DOMContentLoaded", function () {
        var menu = document.querySelector(".hamburger-menu");
        var button = document.querySelector(".hamburger-icon");
        const menuOpen = document.getElementById("menu");
        const lightLogo = document.getElementById("light-logo")
        const darkLogo = document.getElementById("dark-logo")

        button.addEventListener("click", function () {
            if (menu.classList.contains("menu-open")) {
                menu.classList.remove("menu-open");
                menuOpen.style.display = "none";
                lightLogo.classList.add("show");
                darkLogo.classList.remove("show")
                return;
            }
            
            menu.classList.add("menu-open");
            menuOpen.style.display = "block";
            lightLogo.classList.remove("show");
            darkLogo.classList.add("show")
        });
    });
</script>