---
import "./typography.css"
import 'bootstrap/dist/css/bootstrap.css'
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Genesis Holland Photography</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Outfit:wght@100..900&family=Yuji+Syuku&display=swap');
	
	:root {
		--primary-light: #efede2;
		--primary-dark: #4d504a;
		--secondary-bg: #efede2;
		--dark-grey: #a9a393;
		--dark-orange: #c48561;
		--light-pink: #dbc1af;
		--dark-green: #708275;
		--p-light: #696969;
		--bs-body-font-family: "Muli";
		--bs-body-font-size: 1.6rem;
		--bs-link-color-rgb: 77, 80, 74;
		--bs-link-hover-color-rgb: 77, 80, 74;
	}
	@font-face {
		font-family: Muli;
		src: url('../assets/Muli-1GDlj.ttf');
	}
	@font-face {
		font-family: Muli Light;
		src: url('../assets/MuliLight-lg9VZ.ttf');
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	html {
		font-family: system-ui, 'Cinzel Decorative', 'Muli';
		font-size: 62.5%;
		scroll-behavior: smooth;
	}
	h1 {
		font-family: 'Cinzel Decorative';
		color: var(--dark-green);
		font-size: 5.6rem;
	}
	h2 {
		font-family: 'Cinzel Decorative';
		color: var(--dark-green);
		font-size: 4.2rem;
	}
	h3 {
		font-family: 'Cinzel Decorative';
		color: var(--dark-green);
		font-size: 3.5rem;
	}
	h4 {
		font-family: 'Cinzel Decorative';
		color: var(--dark-green);
		font-size: 2.4rem;
	}
	h5 {
		font-family: 'Cinzel Decorative';
		color: var(--dark-green);
		font-size: 1.8rem;
	}
	body p, body a {
		font-family: 'Muli Light';
		color: var(--primary-dark);
		font-size: 1.8rem;
	}

</style>
